---
import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const dateString = new Date(frontmatter.pubDate).toLocaleString("en-EN", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
---

<BaseLayout
    pageTitle={frontmatter.title}
    description={frontmatter.description}
    image={frontmatter.image}
>
    <p>Written by {frontmatter.author}</p>
    <p>Published on: {dateString}</p>
    <p><em>{frontmatter.description}</em></p>
    <img class="my-2" src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    {
        frontmatter.tags && (
            <p class="tag-items my-2">
                {frontmatter.tags.map((tag: string, index: number) => (
                    <a href={`/tags/${tag}`} id={`tag-${index.toString()}`} class="tag-item">
                        {tag}
                    </a>
                ))}
            </p>
        )
    }
    <slot />

    <style>
        .tag-items {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
        }
        .tag-item {
            padding: 0.1em 0.5em;
            border-radius: 1rem;
            background-color: var(--accent-bg-color);
            color: var(--white);
            font-weight: 500;
            font-size: small;
        }

        .tag-item:hover {
            background-color: var(--accent-bg-color-hover);
        }
    </style>
</BaseLayout>
