---
import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const dateString = new Date(frontmatter.pubDate).toLocaleString("en-EN", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
---

<BaseLayout
    pageTitle={frontmatter.title}
    description={frontmatter.description}
    image={frontmatter.image}
>
    <p>Written by {frontmatter.author}</p>
    <p>Published on: {dateString}</p>
    <p><em>{frontmatter.description}</em></p>
    <img
        class="my-2"
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
    />
    {
        frontmatter.tags && (
            <p class="flex flex-wrap gap-1 my-2">
                {frontmatter.tags.map((tag: string, index: number) => (
                    <a
                        href={`/tags/${tag}`}
                        id={`tag-${index.toString()}`}
                        class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center"
                    >
                        <span class="text-sm">#</span>
                        {tag}
                    </a>
                ))}
            </p>
        )
    }
    <slot />
</BaseLayout>
