---
import TagButton from "../components/TagButton.astro";
import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const dateString = new Date(frontmatter.pubDate).toLocaleString("en-EN", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
const { title, description, imageUrl , imageAlt, author, tags } = frontmatter;
---

<BaseLayout pageTitle={title} description={description}>
    <p>Written by {author}</p>
    <p>Published on: {dateString}</p>
    <p><em>{description}</em></p>
    <img class="my-2" src={imageUrl} width="300" alt={imageAlt} />
    {
        tags && (
            <p class="flex flex-wrap gap-1 my-2">
                {tags.map((tag: string, index: number) => (
                    <TagButton tag={tag} />
                ))}
            </p>
        )
    }
    <slot />
</BaseLayout>
